#main {
  width: 1600px;
  margin: auto;
}

.photograph_header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.overlay_modal {
  background-color: #c4c4c466;
  width: 100%;
  height: 100%;
  z-index: 9;
  top: 0;
  left: 0;
  position: fixed;
}

.modal_header {
  display: block;
  position: relative;
  margin-bottom: 30px;
}
.modal_header .modal_title {
  text-align: left;
  font-size: 3.5em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.modal_header #close_modal {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 16px;
  right: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.contact_form {
  padding-top: 40px;
  gap: 20px;
}
.contact_form div {
  margin: 0;
}
.contact_form label {
  font-size: 40px;
}
.contact_form input {
  height: 60px;
}
#message {
  min-width: 100%;
}
#contact_modal {
  border: none;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.card .card-img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.header_logo {
  width: 1600px;
  margin: auto;
}
.photograph_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 0 50px;
}

.photograph_header .photograph_title {
  margin: 0;
  font-size: 64px;
  padding: 0 10px;
}

.photograph_header .photograph_city {
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  padding: 15px 10px;
  color: var(--primary-color);
}
.photograph_header .photograph_tagline {
  font-size: 18px;
  margin: 0;
  padding: 15px 10px;
  color: #525252;
}

.photograph_header .photograph_img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}

.photograph_filter {
  padding: 20px 100px 58px;
  font-size: 1.8rem;
  font-weight: bold;
}
.photograph_filter select {
  font: inherit;
  color: #fff;
  background-color: var(--primary-color);
  margin-left: 1rem;
  padding: 0.5rem 1em;
  border: none;
  font-size: 0.8em;
}
.photograph_like {
  position: fixed;
  display: flex;
  gap: 2em;
  bottom: 0;
  right: calc(52vw - 770px);
  padding: 1.5rem 3rem;
  background-color: #db8876;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}

/* CARD MEDIA  */

.photograph_medias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 100px 100px;
  gap: 30px 95px;
}
.photograph_medias .img_media {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 10px;
}
.photograph_medias .card_body {
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
}
.photograph_medias .title_media {
  color: var(--primary-color);
  margin: 0;
  font-size: 28px;
  padding: 10px 0;
}

.like_media {
  display: flex;
}

.like_picture {
  display: flex;
  align-items: center;
  font-size: 23px;
}

.like_click {
  font-weight: 100;
  font-size: 23px;
  color: var(--primary-color);
  border: none;
  background: none;
  cursor: pointer;
}
.like_click i .fa-heart {
  background: #eee;
  border: 1px solid red;
}
.like_click:hover {
  font-weight: 900;
}

/* .dropdown {
  position: relative;
}
.dropdown_list {
  position: absolute;
  display: none;
}
.dropdown:hover .dropdown_list {
  display: block;
}

x.hidden {
  display: none;
} */
